name: CI macOS

on:
  push:
    branches:
      - "**"
    paths-ignore:
      - "**/website/**"
  pull_request:
    branches:
      - "**"
    paths-ignore:
      - "**/website/**"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  momentum:
    # Enabled for minimal macOS platform coverage
    name: cpp-${{ matrix.mode == '' && 'opt' || 'dev' }}-${{ matrix.os == 'macos-latest-large' && 'mac-x86_64' || 'mac-arm64' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]
        mode: [""]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install FBX SDK
        run: |
          curl -O https://damassets.autodesk.net/content/dam/autodesk/www/files/fbx202037_fbxsdk_clang_mac.pkg.tgz
          tar -xvf fbx202037_fbxsdk_clang_mac.pkg.tgz
          sudo installer -pkg fbx202037_fbxsdk_clang_macos.pkg -target /

      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.2
        with:
          cache: true

      - name: Build and test Momentum
        run: |
          MOMENTUM_BUILD_WITH_FBXSDK=ON \
            pixi run test${{ matrix.mode }}

      - name: Install Momentum and Build hello_world
        run: |
          pixi run install
          pixi run cmake \
            -S momentum/examples/hello_world \
            -B momentum/examples/hello_world/build \
            -DCMAKE_BUILD_TYPE=Release
          pixi run cmake --build momentum/examples/hello_world/build

  pymomentum:
    if: false # Disabled: Redundant with Windows, macOS is most expensive
    name: py-${{ matrix.os == 'macos-latest-large' && 'mac-x86_64' || 'mac-arm64' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install FBX SDK
        run: |
          curl -O https://damassets.autodesk.net/content/dam/autodesk/www/files/fbx202037_fbxsdk_clang_mac.pkg.tgz
          tar -xvf fbx202037_fbxsdk_clang_mac.pkg.tgz
          sudo installer -pkg fbx202037_fbxsdk_clang_macos.pkg -target /

      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.2
        with:
          cache: true

      - name: Build and test PyMomentum
        run: |
          MOMENTUM_BUILD_WITH_FBXSDK=ON \
            pixi run test_py

      - name: Build Python API Doc
        run: |
          MOMENTUM_BUILD_WITH_FBXSDK=ON \
            pixi run doc_py
